html{
  --main-purple:var(--main-purple);
}

.logo1{
  width: 8rem;
}

.btn-outline-success{
  color: var(--main-purple);
  border-color: var(--main-purple);
}

#navbarSupportedContent{
  font-size: 1.4rem;
  
}

.navbar{
  background-color: black;
 

}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: rgb(121, 0, 255);
      
}

.fa-shopping-cart{
  font-size: 1.7rem;
  color: rgb(121, 0, 255);
  padding-left: 1.7rem;
  position: relative;

}

.fa-badge{
  font-size: 1.7rem;
  display: block;
}

.navbar-collapse{
  flex-grow: 0;
}

.container-fluid{
  width: 95%;
}

.navbar-toggler{
  border: 1px solid rgb(121, 0, 255);
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28121, 0, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav {
  gap: 6rem;} 
}